<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MyCapsWebApp</display-name>
  <welcome-file-list>
    <welcome-file>date</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>email</param-name>
    <param-value>aatish@gmail.com</param-value>
  </context-param>
  <servlet>
    <servlet-name>Serv1</servlet-name>
    <servlet-class>com.caps.Serv1</servlet-class>
    <init-param>
      <param-name>password</param-name>
      <param-value>root</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Serv1</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RandomNumServ</servlet-name>
    <servlet-class>com.caps.RandomNumGeneratorServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomNumServ</servlet-name>
    <url-pattern>/random</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DateServ</servlet-name>
    <servlet-class>com.caps.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateServ</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FBLogin</servlet-name>
    <servlet-class>com.caps.FBLoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FBLogin</servlet-name>
    <url-pattern>/fbLogin</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DateJsp</servlet-name>
   	<jsp-file>/Date.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DateJsp</servlet-name>
    <url-pattern>/dateJsp</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <servlet-name>Joke</servlet-name>
   	<servlet-class>com.caps.JokeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Joke</servlet-name>
    <url-pattern>/joke</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</web-app>